.navbar {
  display: flex;
  align-items: center; 
  width: 100vw; 
  height: 50px; 
  border: 2px solid black; 
  border-bottom: 2px solid black; 
  
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px ;
}
.card{
  display: flex;
  align-items: center;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: rgba(128, 128, 128, 0.1); /* 50% opacity */
  margin-top: 20px;
  margin-left: 15px;
  overflow: hidden;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
.card:hover{
  transform: scale(1.05);
  transition: transform 0.3 ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between; /* Pushes elements to the edges */
  align-items: center; /* Vertically centers the elements */
  padding: 10px;
  border-bottom: 1px solid black; /* Optional for styling */
}

.header .title {
  flex: 1; /* Ensures it takes the center space */
  text-align: center;
}

.header .left,
.header .right {
  flex: none; /* Keeps these sections at their width */
}


